- add_to_breadcrumbs _('Roles and Permissions'), admin_application_settings_roles_and_permissions_path
- page_title s_('MemberRole|Edit role')

#js-edit-member-role{ data: { list_page_path: admin_application_settings_roles_and_permissions_path, role_id: params[:id] } }
